<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Photos
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="auth.authenticated()">
    <ion-card>
      <ion-item *ngIf="auth.user">
        <ion-avatar item-left>
          <img src="{{ auth.user.picture }}">
        </ion-avatar>
        <h2>{{ auth.user.nickname }}</h2>
        <p>{{ auth.user.email }}</p>
      </ion-item>
    </ion-card>
    <button ion-button (click)="auth.logout()">Log out</button>
  </div>
  <div *ngIf="base64Image">
    <h2>Preview</h2>
    <p>
      <img [src]="sanitizer.bypassSecurityTrustUrl(base64Image)" />
    </p>
  </div>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addImage()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>